* {
    margin-left: 3px;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cornflowerblue
    }

header {
    color:rgb(250, 250, 255); 
    font-size:40px; 
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
}

#fotnot {
    display: flex;
    justify-content: space-around;
}

.bilar{
    width: 35%;
    height: 35%;
}
.intro{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}